@model IEnumerable<RentaCarros.Data.Entities.Vehicle>

@{
    ViewData["Title"] = "Inicio";
}

<div class="row bg-white rounded p-4">
    <div class="col-12 mb-3">
        <flash dismissable="true" />
    </div>
    @foreach (var vehicle in Model)
    {
        <div class="col">
            <div class="card border border-dark rounded" style="width: 20rem;">
                <img class="card-img-top" src="@vehicle.ImageFullPath" alt="@vehicle.Maker @vehicle.Line @vehicle.Model">
                <div class="card-body">
                    <h5 class="card-title">@vehicle.Maker @vehicle.Line @vehicle.Model</h5>
                    <p class="card-text"> Capacidad: @vehicle.Capacity</p>
                    <p class="card-text">Número de puertas: @vehicle.DoorNumber</p>
                    <p class="card-text">Color: @vehicle.Color</p>
                    <p class="card-text">Kilometraje: formatoNum(@vehicle.Mileage)</p>
                    <p class="card-text">@vehicle.DayValue</p>
                    <a asp-controller="Booking" asp-action="ShowForm" asp-route-vehicleId="@vehicle.Id" class="btn btn-success">Reservar</a>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        function formatoNum(numero) {
            document
                .getElementById('salida')
                .innerHTML = new Intl.NumberFormat('es-CO').format(numero);
        };
    </script>
    }