@model IEnumerable<RentaCarros.Data.Entities.Vehicle>

@{
    ViewData["Title"] = "Inicio";
}

<div class="row bg-white rounded p-4">
    <div class="col-12 mb-3">
        <flash dismissable="true" />
    </div>
    @foreach (var vehicle in Model)
    {
        double Millas = vehicle.Mileage;
        string Milla = Millas.ToString("N0");
        double vlr = vehicle.DayValue;
        string vlrConv = vlr.ToString("N0");

        <div class="col">
            <div class="card border border-dark rounded mb-3" style="width: 20rem;">
                <img class="card-img-top" src="@vehicle.ImageFullPath" alt="@vehicle.Maker @vehicle.Line @vehicle.Model" style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">@vehicle.Maker @vehicle.Line @vehicle.Model</h5>
                    <p class="card-text"> Capacidad: @vehicle.Capacity</p>
                    <p class="card-text">Número de puertas: @vehicle.DoorNumber</p>
                    <p class="card-text">Color: @vehicle.Color</p>
                    <p class="card-text">Kilometraje: @Milla kms</p>
                    <p class="card-text">Valor por día: $@vlrConv</p>
                    <a asp-controller="Booking" asp-action="ShowForm" asp-route-vehicleId="@vehicle.Id" class="btn btn-success">Reservar</a>
                </div>
            </div>
        </div>
    }
</div>
